<html>
  <head>
    <title>Slothful Soda Tracker</title>

    <link rel="stylesheet" type="text/css" href="bower/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="bower/jquery/dist/jquery.min.js"></script>


    <link rel="stylesheet" type="text/css" href="styles/main.css" />

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_MAPS_API_KEY&sensor=true"></script>
    <script type="text/javascript" src="http://localhost:1123/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="scripts/WASD.js"></script>
    <script type="text/javascript" src="scripts/live-map.js"></script>
    <script>
      $(document).ready(function(){
        init()
      })
    </script>
  </head>
  <body>
    <h1 class="text-center">Slothful Soda Delivery Tracker</h1>
    <div id="map"></div>
    <h3 class="text-center">
        Control the position of your marker (the hibiscus flower) with the W, A, S, and D keys.<br />
        The red markers show the positions of the other users connected to the server.
    </h3>
  </body>
</html>

